@using CMS.Models
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding: 150px 20px 150px 20px; text-align: center">
    <h3 style="color: rgb(69, 127, 119); font-weight: 500; font-style: Italic">Razo team đã nhận được ý kiến đóng góp của bạn.</h3>
    <h3 style="color: rgb(69, 127, 119); font-weight: 500; font-style: Italic">Xin chân thành cảm ơn!</h3>
</div>